<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<div class="flex justify-center items-center h-screen w-screen">
    <div>
    <%= button_to "Sign in with Strava", user_strava_omniauth_authorize_path, data: { turbo: false }, class: "btn-primary" %>
    </div>
</div>
